*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62%;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ebe2d3;
}
#main{
    height: 48rem;
    width: 35rem;
    background-color: #e5cbb2;
    border-radius: 3rem;
    box-shadow: 0 1.2rem 3rem 0.5rem rgba(0, 0, 0, 0.2);
    margin-top: 17rem;
    text-align: center;
}
.sname{
    text-transform: uppercase;
    margin: 3rem;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    margin: 5rem 0px 0rem 0px;
    color: #181818;
    font-weight: 500;
    text-shadow: 0 0.7rem 1rem  rgba(0, 0, 0, 0.2);
}
.aname{
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 300;
    color: #6c757d;
    
}
#cimg{
    border-radius: 50%;
    height: 20rem;
    margin-top: 2rem;
    box-shadow: -0.2rem -0rem 1rem  rgba(0, 0, 0, 1);
    
}
.anime{
    animation: rotation 3s infinite linear;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.music{
    width: 18rem;
    display: flex;  
    justify-content: space-between;
    margin-top: 3.8rem;
    margin-left: 8.7rem;
}
#fplay{
    color: #5e5a54;
    font-size: 5rem;
    cursor: pointer;
    margin: -1.2rem;
}
#fplay:hover{
    transform: scale(1.1);
    transition: 0.2s ease;
}
#fpre{
    color:#5e5a54;
    font-size: 2.5rem;
    cursor: pointer;
    
}
#fpre:hover{
    transform: scale(1.2);
    transition: 0.2s ease;
}
#fpost{
    color:#5e5a54;
    font-size: 2.5rem;
    cursor: pointer;
}
#fpost:hover{
    transform: scale(1.2);
    transition: 0.2s ease;
}
.progress{
    width: 100%;
    position: relative;
    justify-content: center;
    margin-top: 0.1rem;
}
#progressbar{
    -webkit-appearance: none;
    width: 30rem;
    height: 0.5rem;
    border-radius: 10rem;
    background: #bcb4a8;
    box-shadow: 1.5px -1px 4px #181818;
    cursor: pointer;
    overflow: hidden;
}
#progressbar::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1px;
    box-shadow: -400px 0 0 400px #757169;

}
.start{
    font-family: 'Trebuchet MS';
    font-size: 10px;
    margin-left: -26.5rem;
    margin-top: -2.5rem;
}
.end{
    font-family: 'Trebuchet MS';
    font-size: 10px;
    margin-left: 27rem;
    margin-top: -1.4rem;
}   